data/*
!data/.gitignore
internal/assets/web-files/*
!internal/assets/web-files/.gitignore
config.json
bin/
tmp/
node_modules/
package-lock.json
package.json
!web/package.json
!web/package-lock.json
!new-web/package-lock.json
!new-web/package.json
cmd/dont-move/
.DS_Store
.AppleDouble
.LSOverride
Icon[
]
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
