data/*
!data/.gitignore
internal/assets/web-files/*
!internal/assets/web-files/.gitignore
config.json
bin/
tmp/
node_modules/
package-lock.json
package.json
!web/package.json
!web/package-lock.json
cmd/dont-move/
